@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-[90rem] p-6 w-full mx-auto;
}

@layer base {
    @font-face {
      font-family: 'SoDoSans Bold';
      font-weight: 700;
      src: url("../dist/fonts/SoDoSans-Bold.woff2") format('woff2');
    }
  }

@layer components{
    .header{
        @apply bg-light shadow-md relative;
    }
    .header__wrapper{
        @apply flex items-center justify-between;
    }
    
    .branding{
        @apply md:flex items-center gap-12;
    }
    .branding img{
        @apply w-[3rem];
    }
    .branding .header__navd{
        @apply hidden 
        md:flex md:gap-10 ;
    }
    .branding .header__navd li a{
        @apply font-medium text-sm  text-dark 
        hover:text-accent;
    }

    .header__action{
        @apply bg-light absolute top-[6.1rem] right-0 w-0 h-[90vh] px-0 pt-0 overflow-hidden transition-all shadow-md 
        md:static md:h-fit md:w-fit md:shadow-none;
    }
    .header__action.open{
        @apply w-[80%] h-[90vh] px-10 pt-10 overflow-hidden transition-all;
    }
    .header__action .header__navm{
        @apply border-b-gray-400 border-b-[2px] pb-5 flex flex-col gap-5
        md:hidden;
    }
    .header__action .header__navm li a{
        @apply font-medium text-xl text-dark;
    }
    .header__action .header__navm li:hover a{
        @apply text-accent;
    }
    .header__action .header__btn{
        @apply pt-5 flex flex-col gap-3 
        md:flex-row-reverse;
    }
    .header__action .header__btn a{
        @apply flex gap-[1rem] items-center 
        hover:text-accent;
    }
    .header__action .header__kamote{
        @apply flex gap-5;
    }
        

    .burger__menu{
        @apply md:hidden;
    }
    .burger__menu span{
        @apply w-[1.5rem] h-[0.2rem] bg-gray-700 block rounded-full transition-all;
    }
    .burger__menu span:nth-child(2){
        @apply my-1;
    }
    .burger__menu.open span:first-child{
        @apply transform translate-y-[10px] rotate-[225deg] transition-all;
    }
    .burger__menu.open span:nth-child(2){
        @apply opacity-0 transition-all;
    }
    .burger__menu.open span:last-child{
        @apply transform translate-y-[-5px] rotate-[-225deg] transition-all;
    }


    .cards__wrapper .card:nth-child(even) *:last-child{
        @apply md:-order-1;
    }
    .cards__wrapper .card{
        @apply grid grid-cols-1 gap-5
        md:grid-cols-2;
    }
    .cards__wrapper .card img{
        @apply w-full;
    }
    .card .card__details{
        @apply flex flex-col items-center justify-center gap-8 px-3 py-2 pb-8;
    }
    .card .card__details h3{
        @apply text-center text-3xl font-semibold
        md:text-4xl;
    }
    .card .card__details p{
        @apply text-center;
    }
    .card .card__details h4{
        @apply text-center text-2xl font-semibold;
    }

    
    .links{
        @apply py-6 border-t-2;
    }
    .links__wrapper{
        /* @apply flex flex-col gap-6; */
        @apply grid grid-cols-1 gap-6
        lg:grid-cols-6;
    }
    .links__item h4{
        @apply flex items-center justify-between font-semibold;
    }
    .links__item h4 i{
        @apply opacity-100
        transition-all duration-200  ease-in-out
        lg:opacity-0;
    }
    .links__item h4 i.open {
        @apply transform rotate-180 transition-all;
    }
    .links__item ul{
        @apply max-h-0 overflow-hidden
        transition-all
        flex flex-col gap-6
        pt-6
        lg:max-h-fit lg:overflow-visible;
    }
    .links__item ul.open{
        @apply max-h-fit
        transition-all;
    }
    .links__item ul li a{
        @apply text-gray-500;
    }



    .rewardsTop__wrapper h3{
        @apply font-boldB text-sm;
    }
}

@layer utilities{
    .btn{
        @apply inline-block p-[0.3rem] px-[1rem] rounded-full border-transparent border-[1px] text-sm font-medium
        hover:scale-[1.1];
    }
    .btn.bg--dark{
        @apply bg-dark text-light;
    }
    .btn.bg--accent{
        @apply bg-accent text-light;
    }
    .btn.bg--light{
        @apply bg-light text-dark border-[1px] border-dark;
    }
    .btn.bg--transparent{
        @apply bg-transparent text-dark border-[1px] border-dark;
    }
    .btn.bg--transparent-alt{
        @apply bg-transparent text-light border-[1px] border-light;
    }
}