@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-[90rem] p-6 w-full mx-auto;
}

@layer base {
    @font-face {
      font-family: 'SoDoSans Bold';
      font-weight: 700;
      src: url("../dist/fonts/SoDoSans-Bold.woff2") format('woff2');
    }
  }

@layer components{
    .header{
        @apply bg-light shadow-md relative;
    }
    .header__wrapper{
        @apply flex items-center justify-between;
    }
    
    .branding{
        @apply md:flex items-center gap-12;
    }
    .branding img{
        @apply w-[3rem];
    }
    .branding .header__navd{
        @apply hidden 
        md:flex md:gap-10 ;
    }
    .branding .header__navd li a{
        @apply font-medium text-sm  text-dark 
        hover:text-accent;
    }
    .header__action{
        @apply bg-light absolute top-[6.1rem] right-0 w-0 h-[90vh] px-0 pt-0 overflow-hidden transition-all shadow-md 
        md:static md:h-fit md:w-fit md:shadow-none;
    }
    .header__action.open{
        @apply w-[80%] h-[90vh] px-10 pt-10 overflow-hidden transition-all;
    }
    .header__action .header__navm{
        @apply border-b-gray-400 border-b-[2px] pb-5 flex flex-col gap-5
        md:hidden;
    }
    .header__action .header__navm li a{
        @apply font-medium text-xl text-dark;
    }
    .header__action .header__navm li:hover a{
        @apply text-accent;
    }
    .header__action .header__btn{
        @apply pt-5 flex flex-col gap-3 
        md:flex-row-reverse;
    }
    .header__action .header__btn a{
        @apply flex gap-[1rem] items-center 
        hover:text-accent;
    }
    .header__action .header__kamote{
        @apply flex gap-5;
    }
        

    .burger__menu{
        @apply md:hidden;
    }
    .burger__menu span{
        @apply w-[1.5rem] h-[0.2rem] bg-gray-700 block rounded-full transition-all;
    }
    .burger__menu span:nth-child(2){
        @apply my-1;
    }
    .burger__menu.open span:first-child{
        @apply transform translate-y-[10px] rotate-[225deg] transition-all;
    }
    .burger__menu.open span:nth-child(2){
        @apply opacity-0 transition-all;
    }
    .burger__menu.open span:last-child{
        @apply transform translate-y-[-5px] rotate-[-225deg] transition-all;
    }


    .cards__wrapper .card:nth-child(even) div:last-child{
        @apply md:-order-1;
    }
    .cards__wrapper .card{
        @apply grid grid-cols-1 gap-5
        md:grid-cols-2 md:gap-0;
    }
    .cards__wrapper .card img{
        @apply w-full;
    }
    .card .card__details{
        @apply flex flex-col items-center justify-center gap-8 px-3 py-2 pb-8;
    }
    .card .card__details h3{
        @apply text-center text-3xl font-semibold
        md:text-6xl md:max-w-[40rem];
    }
    .card .card__details p{
        @apply text-center md:max-w-[36rem] md:text-xl;
    }
    .card .card__details h4{
        @apply text-center text-2xl font-semibold;
    }

    
    .links{
        @apply py-6 border-t-2;
    }
    .links__wrapper{
        /* @apply flex flex-col gap-6; */
        @apply grid grid-cols-1 gap-6
        md:grid-cols-6;
    }
    .links__item h4{
        @apply flex items-center justify-between font-semibold;
    }
    .links__item h4:hover{
        @apply cursor-pointer;
    }
    .links__item h4 i{
        @apply transform transition-all
        duration-200 ease-in-out
        md:hidden;
    }
    .links__item h4 i.open {
        @apply transform rotate-180 transition-all;
    }
    .links__item ul{
        @apply max-h-0 overflow-hidden
        transition-all
        flex flex-col gap-6
        md:max-h-fit md:pt-6;
    }
    .links__item ul.open{
        @apply max-h-fit
        pt-6
        transition-all;
    }
    .links__item ul li a{
        @apply text-gray-500;
    }
    .links__item ul li a:hover{
        @apply text-black;
    }


    .footer__socials a i{
        @apply w-7 h-7 bg-dark rounded-full text-white text-lg
        flex justify-center items-center
        hover:ring-4 hover:ring-gray-300;
    }
    .footer__links{
        @apply flex-col md:flex-row;
    }
    .footer__links a{
        @apply font-[450]
        text-gray-600
        md:px-5 
        hover:underline
        first:pl-0
        md:border-r-[1px] md:border-gray-400 last:border-r-0;
    }


    /* .rBanner{
        @apply bg-starBannerMobile
        h-[600px]
        bg-cover
        bg-el_verde
        bg-right-bottom
        flex
        text-center
        md:bg-starBanner
        md:bg-left
        md:text-center
        md:items-center;
    } */
    .rewardsTop__wrapper h3{
        @apply font-boldB text-lg;
    }
    .rewardsBanner{
        @apply bg-[url('../dist/img/rewards/hero-mobile_2021.jpg')]
        bg-cover bg-right-bottom bg-no-repeat
        bg-[#d4e9e2]
        md:bg-starBanner
        md:bg-cover
        md:bg-center
        /* h-[84vh] md:h-[600px] */
        h-[65vh] md:h-[85vh]
        flex items-start md:items-center;
    }
    .rewardsBanner a{
        @apply hover:no-underline;
    }
    .rewardsBanner__wrapper button:last-of-type{
        @apply hidden md:block;
    }


    .stars__step{
        @apply grid grid-cols-[50px,_1fr] gap-3 items-center
        md:grid-cols-1 md:justify-center md:max-w-xs;
    }
    .stars a{
        @apply hover:no-underline;
    }
    .stars__step h2{
        @apply text-accent text-xl font-semibold 
        m-0 w-[45px] h-[45px] 
        border-2 border-accent rounded-full
        flex justify-center items-center;
    }
    .stars__step .star__step__num{
        @apply mx-auto h-[50px];
    }
    .stars__step__details{
        @apply flex flex-col gap-4
        md:text-center;
    }
    .stars__step__details h3{
        @apply font-bold text-dark text-base md:text-xl;
    }
    .stars__step__details p{
        @apply text-gray-600 font-medium text-sm  md:text-base;
    }
    .stars__step__details p a{
        @apply text-accent underline;
    }


    .coffee{
        @apply bg-[#f1f8f5];
    }
    .coffee__nav{
        @apply shadow-lg pt-10;
    }
    .coffee__nav h4{
        @apply text-2xl sm:text-3xl font-semibold text-center;
    }
    .coffee__nav ul{
        @apply flex flex-wrap justify-center items-center mt-6;
    }
    .coffee__nav ul li{
        @apply px-4 pb-5
        border-b-4 border-transparent
        transform transition-all duration-500;
    }
    .coffee__nav ul li.active{
        @apply border-b-4 border-accent
        transform transition-all duration-500;
    }
    .coffee__nav ul li a{
        @apply text-base font-semibold md:text-2xl;
    }
    .coffee__tab{
        @apply bg-el_verde relative
        /* h-[500px]; */  md:h-[250px]
    }
    .coffee__item{
        @apply px-6 py-8
        text-center
        hidden
        w-full max-h-[0rem]
        opacity-0
        pb-4 mx-auto
        md:max-w-[50rem] md:text-left md:left-[33%]
        transform transition-all;
    }
    .coffee__item.active{
        @apply opacity-100 max-h-fit
        grid grid-cols-1 gap-12
        md:grid md:grid-cols-[_2fr,_2fr] 
        justify-center items-center
        transform transition-all;
    }
    .coffee__item img{
        @apply h-full;
    }
    .coffee__text{
        @apply flex flex-col gap-4 max-w-[30rem] md:max-w-[23rem]
        mx-auto md:mx-0
        text-balance;
    }
    .coffee__text h5{
        @apply text-xl font-semibold text-center
        md:text-2xl md:text-left;
    }
    .coffee__text P{
        @apply text-center md:text-left font-medium text-gray-600;
    }

}

@layer utilities{
    .btn{
        @apply inline-block p-[0.3rem] px-[1rem] rounded-full border-transparent border-[1px] text-sm font-medium
        hover:scale-[1.1];
    }
    .btn.bg--dark{
        @apply bg-dark text-light;
    }
    .btn.bg--accent{
        @apply bg-accent text-light;
    }
    .btn.bg--light{
        @apply bg-light text-dark border-[1px] border-dark;
    }
    .btn.bg--transparent-no-border{
        @apply bg-transparent text-dark;
    }
    .btn.bg--transparent{
        @apply bg-transparent text-dark border-[1px] border-dark;
    }
    .btn.bg--transparent-alt{
        @apply bg-transparent text-light border-[1px] border-light;
    }
}